header{
	width: 100%;
	height: 75px;
	background-color: white;
	position: fixed;
	z-index: 9991;

}

.logo1{
	width: 40%;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-right: 	%
}
.logo{
	width: 180px;
	height: 75px;
	margin-left: -3%
}

ul{
	display: flex;
	justify-content: flex-end;
}

.nav{
	cursor: pointer;
	color: rgb(67,44,131);
	margin: 29px;
	margin-left: 1px;
	font-size: 120%;
	text-decoration: none !important;
	transition: transform 1s;
}

.nav:hover{
transform: scale(1.2);
}


/* Dropdown Button */
.nav {
	border: none;
	background-color: white

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0.7;
	background-color: white;
	color: rgb(67,44,131);
	
}



/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { background-color: white;}


.bar{
	width: 25px;
	height: 4px;
	background-color: rgb(67,44,131);
	margin-top: 4px;
	border-radius: 20%

}



.closebtn{
	margin-left: 60%;
	zoom: 200%;

	}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: rgb(67,44,131);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.burger{
	position: absolute;
  	z-index: 9999999;
  }

.burger-mum{
	height: 75px;
	display: flex;align-items: center;
	position: absolute;
	width: 10%;
	
}
.burger-mum{
	display: none;
}


.offers-header{
	width: 100%;
	height: 70px;
	font-size: 30px;
	background-color: rgb(67,44,131);
	color: white;
	display: flex;
	align-items: center;
	position: static;
}
.offers-header-p{
	margin-left: 3%;
	position: static;
}
.offers{
	width: 80%;
	height: 400px;
	font-size: 120%;
	margin-left: 5%;
	margin-top: 20px
}
.offers-p{
	width: 97%;
	display: inline-block;
	margin-left: 50px;
	text-align: justify;
}
.offers-p-2{
	margin-left: 50px;
	text-align: justify;
	width: 97%;
}
.offers-img{
	margin-top: 20px;
	width: 100%;
	margin-left: 35px
}
.offers-img-2{
	width: 79%;
	margin-left: 8%;
}
.offers-img-3{
	width: 79%;
	margin-top: 250px;
	margin-left: 8%;
	display: inline-block;
}


.caption2{
	width:300px;
	margin-left: 250px;

}



.footer{
	width: 100%;
	height: 300px;
	background-color: rgb(67,44,131);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 275px;
}

.get-in{
	height: 250px;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white
}
.get-adres{
	display: flex;
	justify-content: space-between;
	margin-left: 5%
}

.get-phone{
	display: flex;
	justify-content: space-between;
	margin-left: 5%
}
.get-email{
	display: flex;
	justify-content: space-between;
	margin-left: 5%
}
.infor{
	width: 35%;
	color: white;
	height: 200px
}
.infor-lorem{
	width: 100%;
	font-size: 16px
}
.infor-logo{
	width: 170px;
	height: 72px;
	margin-left: 20%
}

.infor-logo-div{
	margin-top: -10px
}
.media{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 15%;
	height: 100px;
	color: white;
}
.media-boxes{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.media-box{
	border-radius: 20%;
	transition: transform 0.5s
}
.media-box:hover{
	transform:scale(1.4);
}
.phones{
	margin-right: 16%
}
.email{
	margin-right: 23%
}

@media screen and (max-width:1180px){
.nav{
	display: none;
}
.burger-mum{
	height: 55px;
	display: flex;
	align-items:center;
	justify-content: flex-start;
	width: 10%
}
.logo1{
	margin-right: 50%
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 1;
	background-color: black;
}
#product{
	color: white
}


@media screen and (max-width: 900px){
	.infor{
		display: none;
	}
	.get-in{
		width: 50%
	}
	.media{
		width: 25%
	}
	.media-bxes{
		width: 40%
	}
	.box {
		display: none;
	}
	.box-1{
		display: none;
	} 
	.box-2{
		display: none;
	}
	.box-info{

	}
	.box-info-1{
		margin-top: 40px
	}
	.box-info-2{
		margin-top: 80px
	}
}

@media screen and (max-width: 724px){
	.box-info{
		position: static;
		width: 160%;
		margin-left: 10%
	}
	.box-info-1{
		position: static;
		margin-top: 30px;
		width: 160%;
		margin-left: 10%
	}
	.box-info-2{
		position: static;
		margin-top: 30px;
		margin-left: 10%;
		width: 160%;
		margin-bottom: 30px
	}
	.footer{
		margin-top: 350px
	}
}


@media screen and (max-width: 575px)
{
	.footer{
		display: flex;
		flex-direction: column;
		margin-top: 450px
	}
	.get-in{
		width: 75%;
		height: 60%
	}
	.media{
		width: 75%
	}
	.media-boxes{
		width: 30%
	}
	.offers-p{
		margin-left: 10%;
		width: 90%
	}
	.offers-p-2{
		margin-left: 10%;
		width: 90%
	}
	.offers-img{
		margin-left: 10%;
		width: 90%
	}
}

@media screen and (max-width: 475px){
	.media-boxes{
		width: 40%
	}
	.offers-p{
		margin-left: 0;
		width: 110%
	}
	.offers-p-2{
		margin-left: 0;
		width: 110%
	}
	.offers-img{
		margin-left: 0;
		width: 110%
	}
}
@media screen and (max-width: 380px){
	.get-in{
		width: 95%
	}
	.footer{
		margin-top: 600px
	}
}